@page "/phieukhamcreate";

@inject IToastService ToastService;
@inject NavigationManager NavigationManager;

@using BlazorServer.CRUD.Services;
@using BlazorServer.CRUD.Services.ForMemBer;
@using Blazored.Toast.Services;
@using PhongKhamNhaKhoa.Enum;
@using PhongKhamNhaKhoa.Model;
@using PhongKhamNhaKhoa.Model.ForMemBerRequest; 

<h3>PhieuKhamCreate</h3>
@if (NewPhieuKham == null || lstDichVu == null || lstKhachHang == null || lstNhanVien == null|| lstPhongKham == null)
{
    <BlazorServer.CRUD.Component.LoadingIndicator></BlazorServer.CRUD.Component.LoadingIndicator>
}
else
{
        <EditForm Model="@NewPhieuKham" OnSubmit="SubmitForm">
                <div class="col">
                    <label>Name</label>
                    <InputText class="form-control" @bind-Value="@NewPhieuKham.Name"></InputText>
                </div>
                <div class="col">
                    <label>Khách Hàng</label>   
                    <InputSelect class="form-control" @bind-Value="@NewPhieuKham.IdKhachHang">
                        @foreach (var item in lstKhachHang)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </InputSelect>
                </div>
                <div class="col">
                    <label>Nhân Viên</label>
                    <InputSelect class="form-control" @bind-Value="@NewPhieuKham.IdNhanVien">
                        @foreach (var item in lstNhanVien)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </InputSelect>
                </div>
                <div class="col">
                    <label>Dịch Vụ</label>
                    <InputSelect class="form-control" @bind-Value="@NewPhieuKham.IdDichVu">
                        @foreach (var item in lstDichVu)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </InputSelect>
                </div>
                <div class="col">
                    <label>Phòng Khám</label>
                    <InputSelect class="form-control" @bind-Value="@NewPhieuKham.IdPhongKham">
                        @foreach (var item in lstPhongKham)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </InputSelect>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            
        </EditForm>
}
