@page "/khachhangcreate";

@inject KhachHangService KhachHangSer;
@inject IToastService  ToastService;
@inject NavigationManager NavigationManager;

@using BlazorServer.CRUD.Component.Confir;
@using BlazorServer.CRUD.Services.ForMemBer;
@using Blazored.Toast.Services;
@using PhongKhamNhaKhoa.Model.ForMemBerRequest.KhachHang;

<h3>Thêm Khách Hàng</h3>

@if (NewKhachHang == null)
{
    <BlazorServer.CRUD.Component.LoadingIndicator></BlazorServer.CRUD.Component.LoadingIndicator>
}
else
{
  <EditForm Model="@NewKhachHang" OnSubmit="@(async ()=> await CreateKhachHang())">
         <div class="col">
            <label>Name</label>
            <InputText class="form-control" @bind-Value="@NewKhachHang.Name"></InputText>
        </div>
        <div class="col">
            <label>NumberPhone</label>
            <InputText class="form-control" @bind-Value="@NewKhachHang.NumberPhone"></InputText>
        </div>
        <div class="col">
            <label>Address</label>
            <InputText class="form-control" @bind-Value="@NewKhachHang.AddressKH"></InputText>
        </div> 
        <div class="col m-2">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </EditForm>
    <ConfirmationSuccess ConfirmationMessage="@($"Bạn có muốn Thêm không?")" ConfirmationTitle="Thêm Khách Hàng"
                         @ref="CreateConfirmation" ConfirmationChanged="OnSubmitForm"> </ConfirmationSuccess>
}

@code {
    private KhachHangCreateRequest NewKhachHang = new KhachHangCreateRequest();

    private ConfirmationSuccess CreateConfirmation { get; set; }

    private KhachHangRequest khachhang = new KhachHangRequest();


    private async Task CreateKhachHang()
    {
        CreateConfirmation.Show();
    }
   
    public async Task OnSubmitForm(bool createphieukham)
    {
        if (createphieukham == true)
        {
            await KhachHangSer.CreateKhachHang(NewKhachHang);
            NavigationManager.NavigateTo("/showkhachang");
            ToastService.ShowSuccess($"Đã thêm thành công rồi nhé em!", "Success");
        }
        else
        {
            ToastService.ShowError($"Có lỗi rồi thằng ngu. Xem lại đi!!", "Error");
        }
    }
}

